body {
    background-color: #aaf0d1;
    font-family: Arial, Helvetica, sans-serif
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 60px;
    padding: -1px;
    padding-left: 6px;
    margin: -1px;
}

.navbar>.container-fluid {
    padding: 10px;
    margin: -1px;
    background-color: #44A479;
    box-shadow: 2px 2px 2px #207d54;
}

ul.nav.navbar-nav>li>a {
    color: #dbffef;
}

ul.nav.navbar-nav>.active {
    background-color: black;
}

.title {
    font-weight: bold;
}

.submitDate {
    float: right;
}

.floatRight {
    float: right;
}

.modal.modal-wide .modal-dialog {
    width: 90%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}



#memberOf {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    padding: 0;
    margin: 0;
}

#howto {
    color: #43A479
}

.fc-content {
    cursor: pointer;
}

.calBody {
    max-width: 110vh;
}
